.category{
    overflow-x: auto;
    display: flex;
    height: 40px;
    width: 100%;
    border: 2px solid red;
    overflow-x: auto;
  justify-content: center;
  
  }
  .category button{
    height: 35px;
    width: 160px;
    background-color: palevioletred;
    color:white;
    border: 1px solid silver;
    border-radius: 100%;
    margin-right: 20px;
  }
  .category button:hover{
  color: black;
  }
  @media(max-width:1167px){
    .category{
      justify-content: flex-start;
      width:100%;
    }
     
    }
  @media(max-width:567px){
    .category{
      justify-content: flex-start;
      width:100%;
    }
     
    }